This notebook deals with extracting the location polygons and converting them to a shapefile in order to use Tableau for analysing the data

In [ ]:
# Imports
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon
from lxml import objectify

In [3]:
mainXml = objectify.parse('Dataset/Original/London_division_2500-150.xml')
lxmlRoot = mainXml.getroot()
allPlaces = []
for location in lxmlRoot.iterchildren():
    place = {}
    place['id'] = int(location.id)
    place['name'] = str(location.name)
    
    shape_points = []
    for point in location.shape.iterchildren():
        shape_points.append((point.xCoord, point.yCoord))
    polygon_geom = Polygon(shape_points)
    place['polygon'] = polygon_geom
    
    allPlaces.append(place)

myDf = pd.DataFrame.from_records(allPlaces)
myDf.head()

,id,name,place_name,polygon
0,1,Trafalgar Square,Trafalgar Square,"POLYGON ((-0.1304619 51.50952, -0.13048266 51...."
1,2,Big Ben,Big Ben,"POLYGON ((-0.12498988 51.503284, -0.12284501 5..."
2,3,Parliament Square,Parliament Square,"POLYGON ((-0.12562872 51.502274, -0.12844071 5..."
3,4,London Eye,London Eye,"POLYGON ((-0.12235283 51.503895, -0.12092333 5..."
4,5,Tate Modern,Tate Modern,"POLYGON ((-0.0996684 51.51117, -0.101172544 51..."

Convert data frame to a Geo Data Frame, in order to export to a shapefile

In [5]:
gdf = gpd.GeoDataFrame(myDf, geometry='polygon')
gdf.head()

,id,name,place_name,polygon
0,1,Trafalgar Square,Trafalgar Square,"POLYGON ((-0.1304619 51.50952, -0.13048266 51...."
1,2,Big Ben,Big Ben,"POLYGON ((-0.12498988 51.503284, -0.12284501 5..."
2,3,Parliament Square,Parliament Square,"POLYGON ((-0.12562872 51.502274, -0.12844071 5..."
3,4,London Eye,London Eye,"POLYGON ((-0.12235283 51.503895, -0.12092333 5..."
4,5,Tate Modern,Tate Modern,"POLYGON ((-0.0996684 51.51117, -0.101172544 51..."

Export GeoDataFrame to a shapefile, which is now able to be used in Tableau

In [6]:
gdf.to_file('Dataset/Processed/London_division.shp', driver="ESRI Shapefile")

C:\Users\flavi\Anaconda3\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():
CPLE_NotSupported in driver ESRI Shapefile does not support creation option ENCODING