This notebook deals with extracting the location polygons and converting them to a shapefile in order to use Tableau for analysing the data

In [32]:
# Imports
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from lxml import objectify

In [41]:
myDf = pd.DataFrame.from_csv('Dataset/Original/MainTransportHubs.csv')
myDf['Coordinates'] = [Point(coords) for coords in myDf[['Longitude', 'Latitude']].itertuples(index=False, name=None)]
myDf.head()

C:\Users\flavi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

,LocationName,Type,Latitude,Longitude,String Coordinates,Coordinates
Id,,,,,,
1,Heathrow Airport,Airport,51.4700,-0.4543,"51.4700° N, 0.4543° W",POINT (-0.4543 51.47)
2,Gatwick Airport,Airport,51.1537,-0.1821,"51.1537° N, 0.1821° W",POINT (-0.1821 51.1537)
3,Stansted Airport,Airport,51.8860,0.2389,"51.8860° N, 0.2389° E",POINT (0.2389 51.886)
4,Luton Airport,Airport,51.8763,-0.3717,"51.8763° N, 0.3717° W",POINT (-0.3717 51.8763)
5,London City Airport,Airport,51.5048,0.0495,"51.5048° N, 0.0495° E",POINT (0.0495 51.5048)

Convert data frame to a Geo Data Frame, in order to export to a shapefile

In [42]:
df_to_export = myDf[['LocationName','Type', 'Coordinates']]
# df_to_export.head()
gdf = gpd.GeoDataFrame(df_to_export, geometry='Coordinates')
gdf.head()

           LocationName     Type              Coordinates
Id
1      Heathrow Airport  Airport    POINT (-0.4543 51.47)
2       Gatwick Airport  Airport  POINT (-0.1821 51.1537)
3      Stansted Airport  Airport    POINT (0.2389 51.886)
4         Luton Airport  Airport  POINT (-0.3717 51.8763)
5   London City Airport  Airport   POINT (0.0495 51.5048)

Export GeoDataFrame to a shapefile, which is now able to be used in Tableau

In [43]:
gdf.to_file('Dataset/Processed/MainTransportHubs.shp', driver="ESRI Shapefile")

C:\Users\flavi\Anaconda3\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():
CPLE_NotSupported in Normalized/laundered field name: 'LocationName' to 'LocationNa'

In [51]:
myDf = pd.DataFrame.from_csv('Dataset/Original/TouristSpots.csv')
myDf['Coordinates'] = [Point(coords) for coords in myDf[['Longitude', 'Latitude']].itertuples(index=False, name=None)]
myDf.head()

C:\Users\flavi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

,LocationName,Ranking,Latitude,Longitude,String Coords,Coordinates
Id,,,,,,
1,National Gallery,1,51.5089,-0.1283,"51.5089° N, 0.1283° W",POINT (-0.1283 51.5089)
2,Churchill War Rooms,2,51.5022,-0.1294,"51.5022° N, 0.1294° W",POINT (-0.1294 51.5022)
3,British Museum,3,51.5194,-0.1270,"51.5194° N, 0.1270° W",POINT (-0.127 51.5194)
4,St James Park,4,51.5025,-0.1348,"51.5025° N, 0.1348° W",POINT (-0.1348 51.5025)
5,V&A - Victoria and Albert Museum,5,51.4966,-0.1722,"51.4966° N, 0.1722° W",POINT (-0.1722 51.4966)

In [52]:
df_to_export = myDf[['LocationName','Ranking', 'Coordinates']]
# df_to_export.head()
gdf = gpd.GeoDataFrame(df_to_export, geometry='Coordinates')
gdf.head()

                        LocationName  Ranking              Coordinates
Id
1                   National Gallery        1  POINT (-0.1283 51.5089)
2                Churchill War Rooms        2  POINT (-0.1294 51.5022)
3                     British Museum        3   POINT (-0.127 51.5194)
4                      St James Park        4  POINT (-0.1348 51.5025)
5   V&A - Victoria and Albert Museum        5  POINT (-0.1722 51.4966)

In [53]:
gdf.to_file('Dataset/Processed/TouristSpots.shp', driver="ESRI Shapefile")

C:\Users\flavi\Anaconda3\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():
CPLE_NotSupported in Normalized/laundered field name: 'LocationName' to 'LocationNa'